# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[client]

socket = ${wbapp}/var/run/mysql/mysqld.sock

[mysqld]

skip_external_locking
explicit_defaults_for_timestamp

#
# * Basic Settings
#

user              = mysql
pid_file          = ${wbapp}/var/run/mysql/mysqld.pid
socket            = ${wbapp}/var/run/mysql/mysqld.sock

port              = 3306
bind_address      = 127.0.0.1

basedir           = ${wbapp}
datadir           = ${wbapp}/var/lib/mysql
tmpdir            = ${wbapp}/var/tmp/mysql

#
# * Fine Tuning
#

max_connections  = 128

#
# * Logging
#

log_error           = ${wbapp}/var/log/mysql/error.log

general_log         = 0
general_log_file    = ${wbapp}/var/log/mysql/mysql.log

slow_query_log
slow_query_log_file = ${wbapp}/var/log/mysql/slow.log
long_query_time     = 30

#
# * IMPORTANT: Additional settings that can override those from this file!
#

!includedir ${wbapp}/etc/mysql/conf.d/
