[client]

socket = ${webox}/var/run/mysql.sock

[mysqld]

skip_external_locking
explicit_defaults_for_timestamp

#
# * Basic Settings
#

user              = daemon
pid_file          = ${webox}/var/run/mysql/mysqld.pid
socket            = ${webox}/var/run/mysql.sock

port              = 3306
bind_address      = 127.0.0.1

basedir           = ${webox}
datadir           = ${webox}/var/lib/mysql
tmpdir            = ${webox}/var/tmp/mysql

#
# * Fine Tuning
#

max_connections  = 128

#
# * Logging
#

log_error           = ${webox}/var/log/mysql/error.log

general_log         = 0
general_log_file    = ${webox}/var/log/mysql/mysql.log

slow_query_log
slow_query_log_file = ${webox}/var/log/mysql/slow.log
long_query_time     = 30

#
# * IMPORTANT: Additional settings that can override those from this file!
#

!includedir ${webox}/etc/mysql/conf.d/
